<!doctype html>
<html>

<head>
    <title>Home</title>
    <%- include('partials/header0') %>

</head>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <div>
            <div class=" text">

                <div class="text-center">
                    <h1> <b class="fa fa-calendar"> <b> ONLINE TIMETABLE </b></b>
                    </h1>
                    
                </div>
                <p></p>
                <div>
                        <div class="list-group">
                                <a class="list-group-item active">
                                        <b>LIST EVENT</b>
                                    </a>

                                    <% data.forEach(function(user){ %>
                                        <%for(var i=0; i < user.events.length; i++) { %>
                                            <div class="row">
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="thumbnail">
                                                        <div class="caption">
                                                            <p>Event Name:
                                                                <%= user.events[i].name %>
                                                            </p>
                                                            <p>Description:
                                                                <%= user.events[i].description %>
                                                            </p>
                                                            <p>Date:
                                                                <%= user.events[i].date %>
                                                            </p>
                                                            <p>Localtion:
                                                                <%= user.events[i].localtion %>
                                                            </p>
                                                            <p>Priority:
                                                                <%= user.events[i].priority %>
                                                            </p>
                                                            <div class="clearfix">
                                                                <button type="button" class="btn btn-info">Edit</button>
                                                                <button type="button" class="btn btn-warning">Cancel</button>
                                                                <button type="button" class="btn btn-danger">Remove</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }%>
                                                    <% })%>

                                                    
                                            </div>
                                            <% include partials/footer.ejs%>
                            </div>

                            
                </div>
                
            </div>
            <!-- Footer -->

        </div>
        
</body>

</html>